aniso8601==1.1.0
decorator==4.0.9
Flask==0.10.1
Flask-Cors==2.1.2
Flask-HTTPAuth==3.1.1
Flask-RESTful==0.3.5
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
py2neo==2.0.8
python-dateutil==2.5.1
pytz==2016.3
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
Werkzeug==0.11.5
